<header id="hdr">
     
    <div class="container" style="padding-top:15%; color:#fff;">
        <div class="row">
            <div class="col-12 text-center">
                <img class="img-fluid" src="/images/hdrttl.png">
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 mx-auto">
            <div class="card text-center header-card" style="width: 20rem;">
            <div class="card-body">
                <img class="card-title" src="/images/ttl1.png">
                <p class="card-text">Vous pouvez facilement partager votre code et le parcourir avec quelqu'un.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mx-auto">
            <div class="card text-center header-card" style="width: 20rem;">
            <div class="card-body">
                <img class="card-title" src="/images/ttl2.png">
                <p class="card-text">Vous pouvez utiliser notre plate-forme pour des entretiens d'embauche et vous pouvez interagir en temps réel avec l'autre via le chat ou un appel vidéo.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mx-auto">
            <div class="card text-center header-card" style="width: 20rem;">
            <div class="card-body">
                <img class="card-title" src="/images/ttl3.png">
                <p class="card-text">Vous pouvez utiliser notre plate-forme pour expliquer les cours à vos étudiants et leur parler en temps réel.</p>
            </div>
            </div>
        </div>
    </div>
    {{#if user}}
        <a href="/createTask" class="btn btn-primary">Create new task</a>
    {{/if}} 
</div>


<script>
VANTA.NET({
  el: "#hdr",
  spacing: 16.00,
  showDots: false,
  backgroundColor: 0x011936,
  color: 0x998FC7,
  zoom: 0.75,
  points: 6.00
})
</script>