<section class="loginp">
    <div class="container">
        <form method="post" class="auth-form col-12 col-md-6 mx-auto">
            <h2 class="text-center">S'authentifier</h2>
            <input type="email" class="form-control" name="email" placeholder="Email"><br/>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe"><br/>
            <button type="submit" class="btn btn-primary btn-block">S'authentifier</button>
            <br/>
            <h4 class="text-center">Ou bien</h4>
            <a href="/auth/facebook" class="btn btn-lg btn-block"><i class="fab fa-facebook"></i> Continuer avec facebook</a>
        </form>
    </div>
</section>


<script>
VANTA.NET({
  el: ".loginp",
  spacing: 16.00,
  showDots: false,
  backgroundColor: 0x011936,
  color: 0x998FC7,
  points: 5.00
})
</script>