<div class="loginp">
<div class="container">
    <form method="post" class="auth-form col-12 col-md-6 mx-auto">
         {{#each errorMessages}}
            <p style="color:red">{{this.msg}}</p>
        {{/each}}
        <h2 class="text-center" style="color:#000 !important;">Create a new account</h2>
        <input type="text" class="form-control" name="name" placeholder="Nom"><br/>
        <input type="email" class="form-control" name="email" placeholder="Adress email"><br/>
        <input type="password" class="form-control" name="password" placeholder="Mot de passe"><br/>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmez votre mot de passe"><br/>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
        <br/>
        <a href="/login" class="btn btn-lg btn-block"><i class="fas fa-sign-in-alt"></i> Login with an existing account</a>
        <br/>
        <a href="/auth/facebook" class="btn btn-lg btn-block"><i class="fab fa-facebook"></i> Login with facebook</a>
    </form>
</div>
</div>