body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#loginbtn{
  color: #011936 !important;
  background-color: #d4c2fc;
  border-radius: 5px;
  margin-left: 10px;
}

#trans-nav{
  background: none;
}

.navbar{
  z-index: 1;
}

nav .nav-link{
  color: #ffff !important;
}

#codee{
  height: 100vh;
  position: relative;
}

.CodeMirror{
  height: 100%;
}

#chatbox{
  position: absolute;
  bottom: 0;
  right: 10px;
}

#chat-listMessages{
  height: 300px;
  max-width: 400px;
  overflow-y: scroll;
}

#hdr{
  height: 60vh;
  margin-top: -100px;
}

.pxl{
  font-family: 'Press Start 2P', cursive;
}

.header-card{
  background-color: #fdfdff;
  margin-top: -100px;
  border: none;
}

.card-title{
  font-weight: bold;
}

.card-text{
  font-size: 15px;
}
.loginp{
  height: 100vh;
  background-color: #121212;
  padding-top: 10%;
}
.auth-form{
  background-color: #f9f5ff;
  padding: 30px;
  border-radius: 10px;

}
#tsknav{
  background-color: #011936;
  height: 100px;
  margin-top: -100px;
}
.fa-comments{
  color: #f9f5ff;
}
.fa-paper-plane{
  color: #011936;
}
#msgs{
  background-color: #f9f5ff;
}
#msgs .panel-heading{
  padding:20px;
  background-color: #011936;
  color: #faf8ff;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#video-container{
  position: absolute;
  top:10px;
  right: 10px;
  z-index:9;
}
#my-video {
  margin-top: 15px;
  width: 100px;
  height: 75px;
  background-color: #eee;
}

#second-video {
  width: 200px;
  height: 160px;
  max-height: 480px;
  background-color: #eee;
}
#make-call{
  color: #3e1fdd;
}
#end-call{
  color: rgb(206, 57, 57);
}
#step1-error, #step2, #step3 {
  display: none;
}

#my-id {
  font-weight: bold;
}
a{
  text-decoration: none;
}